numba==0.47.0
numpy==1.18.1
opencv-python==4.1.2.30
Pillow==6.2.2
scikit-image==0.17.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.11.0
six==1.13.0
tensorboard==2.4.0
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.6.0.post3
tensorflow-estimator==1.15.1
torch==1.4.0
torchvision==0.5.0
tqdm==4.41.1
